---
import { getCityByUser } from '../services/city';
import { getPrayerTime } from '../services/prayer-time';
import Html from '../components/html.astro';
import CurrentAndNextPrayer from '../components/current-and-next-prayer.vue';
import FormattedPrayerDate from '../components/formatted-prayer-date.astro';

// Prevent pre-render at build time, because we want to get user's city first
export const prerender = false;

// TODO: set manually city
// Cloudflare geolocation is not 100% accurate

// @ts-expect-error -- `cf` only available on Cloudflare, not on local dev
const cf = Astro.locals.runtime?.cf;
const userCity = getCityByUser(cf);
const userTimeZone = typeof cf?.timeZone === 'string' ? cf?.timeZone : 'Asia/Jakarta';

// Get prayer time based on user's city (based on Cloudflare geolocation)
const prayerTime = await getPrayerTime(userCity.id);

// transform city name to lowercase and remove `kota` word
const displayCity = userCity.lokasi.toLowerCase().replace('kota', '');
---

<Html>
	<div class='bg-card flex flex-col mx-auto rounded-xl shadow-sm'>
		<CurrentAndNextPrayer
			client:load
			timeZone={userTimeZone}
			prayerTime={{
				// only add prayer time, ignore other data (e.g. `date`), because it's not prayer time
				subuh: prayerTime.subuh,
				dzuhur: prayerTime.dzuhur,
				ashar: prayerTime.ashar,
				maghrib: prayerTime.maghrib,
				isya: prayerTime.isya,
			}}
		/>

		<section class='bg-slate-50 py-4 space-y-4 rounded-xl'>
			<div class='flex justify-between items-center px-4'>
				<div class='flex items-center space-x-2'>
					<svg width='24' height='24'>
						<use href='/sprite.svg#tabler-map-pin'></use>
					</svg>
					<span class='text-sm capitalize'>{displayCity}</span>
				</div>

				<FormattedPrayerDate prayerDate={prayerTime.date} timeZone={userTimeZone} />
			</div>

			<ol id='prayer-time-list'>
				{
					Object.entries(prayerTime).map(([name, time]) => {
						if (typeof time === 'object') {
							// If current item is not prayer time (e.g. date), skip it
							return null;
						}

						return (
							// if active bg-slate-100
							<li id={`prayer-time-${name}`} class='flex justify-between px-4 py-2'>
								<div class='flex items-center space-x-2'>
									<svg width='24' height='24'>
										<use href={`/sprite.svg#${name}`} />
									</svg>
									<span class='capitalize'>{name}</span>
								</div>
								<time datetime={time}>{time}</time>
							</li>
						);
					})
				}
			</ol>
		</section>
	</div>

	<section class='text-sm font-light px-4 py-2 space-x-1'>
		<a href='https://www.google.com/maps/search/masjid+terdekat+lokasi+saya' target='_blank' rel='noopener noreferrer' class='underline'>Cari masjid terdekat</a>
		<!-- <span class='font-semibold'>&middot;</span>
		<a href='/bulanan' class='underline'>Jadwal bulanan</a> -->
		<!-- <span class='font-semibold'>&middot;</span>
		<a href='/surat-pendek' class='underline'>Tata cara sholat</a> -->
		<!-- <span class='font-semibold'>&middot;</span>
		<a href='/surat-pendek' class='underline'>Doa dan dzikir</a> -->
		<!-- <span class='font-semibold'>&middot;</span>
		<a href='/surat-pendek' class='underline'>Surat pendek</a> -->
	</section>
</Html>
